#root {
  margin: 0 auto;
  text-align: center;
  --main-color: #a9a9a9;
}

button {
  color: antiquewhite;
  border-radius: 0;
  width: 150px;
  height: 55px;
  margin: 5px;
  padding: 0;
}

h2 {
  font-size: 42px;
  font-weight: lighter;
}

.site-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  transition: all 0.3s;
}



.header {
  width: 100dvw;
  max-width: 100%;
  height: 100px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.links {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.link {
  padding-right: 1rem;
}

.top-section {
  width: 100dvw;
  text-align: center;
  padding-block: 10px;
  background-color: rgba(0, 0, 1, 0.084);
}

.pale-logo {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 2px;
}


.equipment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.button-col1 {
  display: flex;
  flex-direction: column;

}

.button-col2 {
  display: flex;
  flex-direction: column;


}