#root {
	margin: 0 auto;
	text-align: center;
	--main-color: #a9a9a9;
}

button {
	color: antiquewhite;
	border-radius: 0;
	width: 150px;
	height: 55px;
	margin: 5px;
	padding: 0;
	justify-content: center;
	font-size: 0.8rem;
}

h2 {
	font-size: 42px;
	font-weight: lighter;
}

h3 {
	font-size: 42px;
	font-weight: lighter;
}

.site-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-color);
	transition: all 0.3s;
}

.header {
	width: 100dvw;
	max-width: 100%;
	height: 100px;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.links {
	display: flex;
	flex-direction: row;
	padding: 3rem;
}

.link {
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
	background-image: linear-gradient(
		to right,
		#171717,
		#171717 50%,
		#171717 50%
	);
	display: inline-block;
	position: relative;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

.link:before {
	content: "";
	background: #171717;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

.link:hover {
	background-position: 0;
}

.link:hover::before {
	width: 80%;
	margin-left: 0.1rem;
}

.top-section {
	width: 100dvw;
	text-align: center;
	padding-block: 10px;
	background-color: rgba(0, 0, 1, 0.084);
	background: linear-gradient(120deg, #bebebe, #171717);
}

.pale-logo {
	max-width: 70%;
	height: auto;
	border-radius: 8px; /* 
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px 2px; */
}

.home-section {
	margin-block: 3rem;
}

.home-section p,
.studio-section p,
.portfolio-spoti p,
.portfolio-yt p {
	width: 45%;
	margin: auto;
	padding-bottom: 2rem;
	font-size: 1.2rem;
}

.home-studio-pics {
	width: 75%;
	margin: auto;
}

.home-studio-pics img {
	padding-right: 5px;
	height: 20rem;
	width: auto;
}

.home-pics-col2 :last-child {
	width: 441px;
}

.studio-section {
	width: 100dvw;
	text-align: center;
	padding-block: 10px;
	background-color: rgba(0, 0, 1, 0.084);
	padding-bottom: 3rem;
}

.studio-section h2,
.home-section h2,
.equipment-section h2,
.portfolio-spoti h2,
.portfolio-yt h2 {
	font-weight: 500;
}

.equipment-section h2 {
	margin: 0;
	margin-right: 3rem;
	margin-top: 3rem;
}

.studio-pics img {
	padding-right: 5px;
	height: 20rem;
}

.pics-col2 :last-child {
	width: 661px;
}

.equipment-section {
	margin-block: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.equipment-buttons {
	display: grid;
	column-gap: 2rem;
	grid-auto-columns: max-content;
}

.button-col1 {
	grid-column: 1;
	grid-row: 1;
}
.button-col2 {
	grid-column: 2;
	grid-row: 1;
}
.button-col3 {
	grid-column: 3;
	grid-row: 1;
}

@keyframes desc-fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.equip-description {
	border-radius: 8px;
	padding: 2rem;
	z-index: 10;
	min-width: 200px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	font-weight: lighter;
	font-style: italic;
	box-shadow: rgba(0, 0, 0, 0.1);
	animation: desc-fadein 0.5s;
}

.equip-description p {
	margin: 0;
	justify-content: flex-start;
	font-size: 1.1rem;
}

.equip-description.monitor {
	margin-bottom: 7.6rem;
}

.equip-description.controller {
	margin-bottom: 4.3rem;
}

.portfolio-spoti {
	width: 100dvw;
	text-align: center;
	padding-block: 2rem;
	background-color: rgba(0, 0, 1, 0.084);
}

.portfolio-yt {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 2rem;
}

.yt-frame-grid {
	display: grid;
	column-gap: 2rem;
	row-gap: 2rem;
	grid-auto-columns: max-content;
}

.yt-frame-grid :nth-child(1) {
	grid-column: 1;
	grid-row: 1;
}
.yt-frame-grid :nth-child(2) {
	grid-column: 2;
	grid-row: 1;
}
.yt-frame.last {
	padding-top: 2rem;
}

.yt-frame {
	margin: auto;
	border-radius: 8px;
	overflow: hidden;
	line-height: 0px;
}

.contacts-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 33rem;
}
.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 3rem;
	background-color: rgba(0, 0, 1, 0.084);
	width: 100%;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contacts :nth-child(1) {
	margin-bottom: 1rem;
}

.contacts :nth-child(2) {
	margin-bottom: 1rem;
}
.contacts :nth-child(3) {
	margin-bottom: 1rem;
}
.contacts :nth-child(3) {
	margin-bottom: 2rem;
}

.mail,
.phone,
.insta,
.spoti {
	display: flex;
	align-items: center;
	gap: 0.2rem;
}

.mail svg,
.phone svg,
.insta svg,
.spoti svg {
	display: block;
}

.mail p,
.phone p,
.insta p,
.spoti p {
	margin: 0;
	line-height: 1;
}

.footer {
	display: flex;
	height: 130px;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 1, 0.084);
}

.footer p {
	font-style: italic;
}

@media (width > 1280px) {
	.studio-pics img {
		width: auto;
	}

	.home-studio-pics img {
		width: auto;
	}
}

@media (width < 1280px) {
	.yt-frame-grid :nth-child(2) {
		grid-column: 1;
		grid-row: 1;
	}
	.button-col1 {
		grid-column: 1;
		grid-row: 1;
	}
	.button-col2 {
		grid-column: 1;
		grid-row: 2;
	}
	.button-col3 {
		grid-column: 1;
		grid-row: 3;
	}
}

@media (width >= 768px <= 1280px) {
	.studio-pics img {
		width: calc(30% - 20px);
	}

	.home-studio-pics img {
		width: calc(30% - 20px);
	}
}

@media (width < 768px) {
	.studio-pics img {
		width: calc(100% - 20px);
	}

	.home-studio-pics img {
		width: calc(100% - 20px);
	}
}
